@font-face {
  font-family: 'JapaneseRadicals';
  src: url('fonts/JapaneseRadicals-Regular.otf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(var(--foreground-rgb));
  background-repeat: repeat;
  background-color: rgb(var(--background-start-rgb));
  width: 100dvw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 239, 240, 242;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 20, 20, 20;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 239, 240, 242;
  }
}

/*** GLOBAL */
.app {
  @apply relative z-10 flex flex-col w-full mx-auto;
}

.topSecureSpace {
  @apply pt-3;
}

.headerTitle {
  @apply flex-1 text-center text-lg md:text-sm font-bold text-medium-grey;
}

.text-shadow {
  text-shadow: 2px 2px 2px black;
}

.text-light-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.section-bottom {
  @apply pb-[10vh];
}


/*** EXERICES */
.exerciceFilterButtons {
  @apply px-3 py-2 text-sm font-bold text-white shadow-sm rounded-lg;
}

.exerciceSection {
  @apply relative min-h-[90dvh] h-auto z-50 pt-2;
}

.exerciceContentBlock {
  @apply relative flex flex-col w-[100%] h-[90dvh] flex-wrap items-center py-2 rounded-lg;
}

.exerciceLongContentDisplay {
  @apply flex flex-col text-ellipsis text-wrap break-words justify-center text-lg md:text-3xl w-full my-1 md:my-2 px-0 py-3 rounded-xl bg-white;
}

.exerciceShortContentDisplay {
  @apply flex flex-col items-center text-ellipsis break-words justify-center text-xl w-[95%] h-[100px] mt-5 rounded-xl bg-white px-1;
}

.exerciceButton {
  @apply flex flex-col items-center justify-center text-center px-3 py-2 my-1 md:my-1 w-[90vw] md:w-1/6 min-h-16 mx-auto uppercase text-white rounded font-bold cursor-pointer text-sm;
}

.exerciceButtonStandard {
  @apply bg-medium-blue hover:bg-light-blue transition-all duration-200;
}

.exerciceButtonPremium {
  @apply bg-gold hover:bg-dark-gold transition-all duration-200;
}

.exerciceButtonLanguageContainer {
  @apply flex flex-row;
}

.exerciceButtonLanguage {
  @apply flex flex-row items-center justify-center bg-light-white text-black p-2 m-2 rounded-md shadow-lg;
}

.exerciceAnswerMessage {
  @apply text-white font-bold px-5 py-3 rounded-lg shadow-xl uppercase;
}

.levelSelectButton {
  @apply flex flex-1 py-2 text-xs md:text-lg items-center justify-center bg-light-white text-black transition-all duration-300 ease-in-out cursor-pointer;
}

.columnDisplayButton {
  @apply flex flex-1 py-2 text-xs md:text-lg items-center justify-center bg-medium-grey text-white transition-all duration-300 ease-in-out cursor-pointer;
}

.readingChoiceButton {
  @apply flex flex-1 py-1 items-center justify-center bg-dark text-white;
}


/*** TITLE */
.title {
  @apply text-2xl text-gold text-center font-bold mb-4;
}

.dropdown {
  @apply absolute z-50 right-0 top-0 mt-3 w-full h-[100dvh] p-5 rounded-lg bg-dark min-w-[210px] min-h-[500px] flex flex-col gap-2 justify-center items-center;
}

.dropdown_link {
  @apply text-3xl text-white hover:text-medium-blue my-3 font-medium;
}

.dropdown_close {
  @apply absolute top-3 right-3 p-3 text-3xl text-white hover:text-medium-blue;
}


/*** HOME */
.home-arrow {
  animation: arrowAnimation 2s infinite;
}

.home-button {
  @apply flex flex-col items-center justify-center text-center md:flex-1 mx-2 w-full md:mx-5 my-0 md:my-10 px-5 py-2 md:py-5 h-36 md:min-h-56 border-medium-blue border-4 shadow-2xl shadow-dark rounded-xl bg-black transition-all duration-300 ease-in-out;
}

.home-button:hover {
  @apply translate-y-2 bg-medium-blue text-white transition-all duration-300 ease-in-out;
}

.home-button-text {
  @apply flex flex-row items-center gap-3 font-bold text-2xl mb-2 uppercase;
}


/*** NAVBAR  */

.navbar-mobile-block {
  @apply fixed z-40 w-full flex flex-row justify-evenly items-center bottom-0 border-t-2 pt-2 pb-4 bg-light-white border-black border-opacity-30;
}

.nav-button {
  @apply text-light-blue cursor-pointer transition-all duration-150;
}

.nav-button:hover {
  @apply text-medium-blue;
}

.navbarButton {
  @apply relative z-40 flex flex-col flex-1 items-center justify-center bg-light-white text-light-blue p-2 transition-all duration-150;
}

.navbarButtonDecoration {
  @apply absolute z-10 top-0 w-1 h-1 rounded-full bg-medium-blue;
}

.navbarButtonIcon {
  @apply text-2xl;
}

/*** KANJI KEYS  */
.kanji-key {
  font-family: 'JapaneseRadicals', sans-serif;
}

/*** EXERCICE TEST */
.falling-ball {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/*** LOGIN / REGISTER  */
.loginRegisterInputs {
  @apply text-black px-3 py-2 rounded-lg border-2 border-gray-200;
}

.loginRegisterPasswordInputs {
  @apply w-full text-black px-3 py-2 rounded-lg border-2 border-gray-200 pl-10;
}

.loginRegisterWrongInfo {
  @apply text-red-500 mb-1 md:mb-3;
}

.explode {
  animation: explode 0.3s forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  70% {
    transform: translateY(-1px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0);
  }
}




/******* NEON EFFECT ON TEXT  */
/* margin: 0;
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de; */